
.cs-search-wrap {
  width: 100%;
  background-color: $cs-search-background;
  border-bottom: 1px solid $cs-search-border-color;
}

.cs-search {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  outline: none;
  box-shadow: none;
  border: none;
  padding-left: 5px;
  font-family: $cs-search-font-family;
  font-weight: $cs-search-font-weight;
  font-size: $cs-search-font-size;
  color: $cs-search-color;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
  &:-moz-placeholder { /* Firefox 18- */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

}