
%cs-title-default {
  font-family: $cs-title-font-family;
  font-weight:  $cs-title-font-weight;
  font-size: $cs-title-font-size;
  color: $cs-title-color;
}

.cs-title-wrap {
  padding: 0 0 10px;
}

.cs-title {
  @extend %cs-title-default;
  flex: 0 0 100%;
  margin-bottom: 10px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  //max-width: 100px;
  &__first-line {
    margin-bottom: 6px;
    @extend %center-flex;
  }
  &__second-line {
    display: flex;
  }
  &--dsc {
    flex: 2;
    background-color: $cs-title-color;
    color: #193239;
    //padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    @extend %center-flex;
  }
  &--sm {
    flex: 1;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    .horizontal & {
      @include respond-to('(min-width: 992px)') {
        flex: none;
      }
    }
  }
  .horizontal & {
    @include respond-to('(min-width: 992px)') {
      max-width: 100%;
      display: flex;
      align-items: flex-end;
    }
  }
}

//@each $theme in $themes {
//  .#{map_get($theme, name)} .cs-title {
//    font-family: map_get(map_get($theme, title), font-family);
//    font-size: map_get(map_get($theme, title), font-size);
//    color: map_get(map_get($theme, title), color);
//  }
//}
