.cs-counter-group {
  flex: 0 0 100%;
}

.cs-counter-wrap {
  @extend %cs-wrap;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cs-counter {

  @extend %cs-select;
  @extend %center-flex;
  text-align: center;
  color: $cs-select-color;
  width: $cs-counter-width;
  height: $cs-counter-height;
  cursor: pointer;
  border-radius: 100px;
  margin: -1px;
  &--plus {
    background-color: $cs-counter-plus-background-color;
    border: solid 1px $cs-counter-color;
    margin-right: -2px;
  }
  &--minus {
    background-color: $cs-counter-minus-background-color;
    border: solid 1px $cs-counter-color;
  }

}

.cs-page-value {
  height: $cs-counter-height;
  font-family: $cs-page-value-font-family, serif;
  font-size: $cs-page-value-font-size;
  color: $cs-counter-color;
  line-height: 1;
  cursor: text;
  @extend %center-flex;
  &__input {
    font-family: inherit;
    font-size: $cs-page-value-font-size*1.2;
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    width: 40px;
    background-color: transparent;
    color: inherit;
  }
  &__alert {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: OpenSans-Regular, serif;
    font-size: 12px;
    line-height: 1.2;
    background: #ea6e0d;
    color: #ffffff;
    padding: 3px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 1px 0 rgba(0, 0, 0, .83), inset 0 1px 0 0 hsla(0, 0%, 100%, .44);
    &--cross {
      font-size: 14px*1.5;
      padding-left: 15px;
    }
  }
}

@each $theme in $themes {
  .#{map_get($theme, name)} .cs-counter-wrap {
    border-radius: map_get(map_get($theme, select), border-radius);
    background-color: map_get(map_get($theme, select), background-color);
    box-shadow: map_get(map_get($theme, select), box-shadow);
    border: map_get(map_get($theme, select), border);
    margin: map_get(map_get($theme, select), margin);
  }
  .#{map_get($theme, name)} .cs-counter {
    height: map_get(map_get($theme, select), height);
    color: map_get(map_get($theme, select), color);
  }
  .#{map_get($theme, name)} .cs-page-value {
    height: map_get(map_get($theme, select), height);
    color: map_get(map_get($theme, select), color);
  }
}
