%cs-dropdown-wrap-default {
  background-color: $cs-dropdown-background;
  border-radius: $cs-dropdown-border-radius;
}

.cs-dropdown-wrap {
  @extend %cs-dropdown-wrap-default;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding: 44px 10px 10px;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear .01s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 1px 0 rgba(0,0,0,.83), inset 0 1px 0 0 hsla(0,0%,100%,.44);
  &--service {
    z-index: 25;
  }
  &--level {
    z-index: 15;
  }
  &--deadline {
    z-index: 5;
  }
  .open & {
    opacity: 1;
    visibility: visible;
  }
}

.cs-dropdown {
  background: transparent;
  padding: 0;
  margin: 10px 0;
  width: 100%;
  overflow-x: hidden;
  max-height: 160px;
  overflow-y: auto;
  &__item {
    box-sizing: border-box;
    font-family: $cs-dropdown-font-family;
    font-size: $cs-dropdown-font-size;
    line-height: 1;
    color: #2f505a;
    width: 100%;
    padding: 9px 5px;
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    width: 10px;
    border-radius: 5px;
    background-color: $cs-dropdown-background-color;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #fce23f;
    border: solid 2px  $cs-dropdown-background-color;
  }
}

@each $theme in $themes {
  .#{map_get($theme, name)} .cs-dropdown-wrap {
    border-radius: map_get(map_get($theme, dropdown), border-radius);
    background-color: map_get(map_get($theme, dropdown), background-color);
    border: map_get(map_get($theme, dropdown), border);
  }
  .#{map_get($theme, name)} .cs-dropdown::-webkit-scrollbar {
    background-color: map_get(map_get($theme, dropdown), background-color);
  }
}
