%cs-wrap-default {
  z-index: 100;
  height: $cs-height;
  width: $cs-width;
  border-radius: $cs-border-radius;
  padding: $cs-box-padding;
  box-shadow: $cs-box-shadow;
  border: $cs-border;
  background: $cs-background-color $cs-background-url ;
  @include respond-to($xs-bt) {
    margin-left: 0;
    margin-right: auto;
  }
  @include respond-to($xx-bt) {
    padding: 20px 15px;
  }
}

.cs-wrap {
  @extend %cs-wrap-default;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
  align-content: flex-start;
}

@each $theme in $themes {
  .#{map_get($theme, name)} .cs-wrap {
    border-radius: map_get(map_get($theme, container), border-radius);
    background-color: map_get(map_get($theme, container), background-color);
    box-shadow: map_get(map_get($theme, container), box-shadow);
    border: map_get(map_get($theme, container), border);
    width: map_get(map_get($theme, container), width);
    height: map_get(map_get($theme, container), height);
  }
}
