.cs-counter-wrap {
  @extend %cs-wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.cs-counter {

  @extend %cs-select;
  @extend %center-flex;
  text-align: center;
  color: $cs-select-color;
  width: $cs-counter-width;
  height: $cs-counter-height;
  cursor: pointer;
  border-radius: 100px;
  margin: -1px;
  &--plus {
    background-color: $cs-counter-plus-background-color;
    border: solid 1px $cs-counter-color;
    margin-right: -2px;
  }
  &--minus {
    background-color: $cs-counter-minus-background-color;
    border: solid 1px $cs-counter-color;
  }
}

.cs-page-value {
  height: $cs-counter-height;
  font-family: $cs-page-value-font-family, serif;
  font-size: $cs-page-value-font-size;
  color: $cs-counter-color;
  line-height: 1;
  cursor: text;
  @extend %center-flex;
  &__input {
    font-family: inherit;
    font-size: $cs-page-value-font-size*1.2;
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    width: 40px;
    background-color: transparent;
    color: inherit;
  }
}

@each $theme in $themes {
  .#{map_get($theme, name)} .cs-counter-wrap {
    border-radius: map_get(map_get($theme, select), border-radius);
    background-color: map_get(map_get($theme, select), background-color);
    box-shadow: map_get(map_get($theme, select), box-shadow);
    border: map_get(map_get($theme, select), border);
    margin: map_get(map_get($theme, select), margin);
  }
  .#{map_get($theme, name)} .cs-counter {
    height: map_get(map_get($theme, select), height);
    color: map_get(map_get($theme, select), color);
  }
  .#{map_get($theme, name)} .cs-page-value {
    height: map_get(map_get($theme, select), height);
    color: map_get(map_get($theme, select), color);
  }
}
