%cs-wrap-default {
  z-index: 100;
  height: $cs-height;
  width: $cs-width;
  border-radius: $cs-border-radius;
  padding: $cs-box-padding;
  box-shadow: $cs-box-shadow;
  border: $cs-border;
  background: $cs-background-color $cs-background-url  no-repeat center calc(100% - 10px)/80% auto;
  background-size: auto;

}

.cs-wrap {
  @extend %cs-wrap-default;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
  align-content: flex-start;
  .horizontal & {
    @include respond-to('(min-width: 992px)') {
      width: 970px;
      background-position: 30px calc(100% - 30px);
      padding: 20px 30px;
    }
  }
}

@each $theme in $themes {
  .#{map_get($theme, name)} .cs-wrap {
    border-radius: map_get(map_get($theme, container), border-radius);
    background-color: map_get(map_get($theme, container), background-color);
    box-shadow: map_get(map_get($theme, container), box-shadow);
    border: map_get(map_get($theme, container), border);
    width: map_get(map_get($theme, container), width);
    height: map_get(map_get($theme, container), height);
  }
}
