%cl-title-default {
  font-family: $cl-title-font-family;
  font-weight: $cl-title-font-weight;
  font-size: $cl-title-font-size;
  color: $cl-title-color;
  text-transform: $cl-title-text-transform;
  @include respond-to($xs-bt) {
    font-size: $cl-title-font-size*0.9;

  }
}

.cl-title {
  @extend %cl-title-default;
  @extend %center-flex;
  flex-direction: column;
  margin-bottom: 20px;
  line-height: 1.3;
  text-align: center;
  @include respond-to($xx-bt) {
    flex-direction: column;
  }
  &__first-line {
    @include respond-to($xx-bt) {
      margin-bottom: 10px;
    }
  }
  &__second-line {
    display: flex;
  }
  &--dsc {
    background-color: $cl-title-color;
    color: $cl-title-dsc-color;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    @extend %center-flex;

  }
  &--sm {
    color:$cl-title-second-color;
    font-size: $cl-title-second-font-size;
    text-transform: none;
    font-family: $cl-title-font-family;
    font-weight: $cl-title-second-font-weight;
    letter-spacing: 0.5px;
    text-align: left;
  }
}

//@each $theme in $themes {
//  .#{map_get($theme, name)} .cl-title {
//    font-family: map_get(map_get($theme, title), font-family);
//    font-size: map_get(map_get($theme, title), font-size);
//    color: map_get(map_get($theme, title), color);
//  }
//  .#{map_get($theme, name)} .cl-title--dsc {
//    background-color: map_get(map_get($theme, title), color);
//  }
//  .#{map_get($theme, name)} .cl-title--sm {
//    font-family: map_get(map_get($theme, subtitle), font-family);
//    font-size: map_get(map_get($theme, subtitle), font-size);
//    color: map_get(map_get($theme, subtitle), color);
//  }
//}