
.cl-counter-group {
  position: relative;
  margin-bottom: 1em;
}

.cl-counter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  @include respond-to($xx-bt){
    flex-direction: column;
  }
}

%cl-counter-default {
  background-color: $cl-counter-background;
  box-shadow: $cl-counter-box-shadow;
  border-radius: $cl-counter-border-radius;
}

.cl-counter {
  @extend %cl-counter-default;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 190px;
  padding: 1px;
  @include respond-to($xx-bt){
    margin-bottom: 10px;

  }
}

.cl-counter-btn {
  @extend %center-flex;
  cursor: pointer;
  flex: 1;
  height: auto;
  border-radius: 50%;
  &--plus {
    background-color: $cl-counter-background-plus;
    color: $cl-counter-color-plus;
    border: 2px solid $cl-counter-color-plus;
    span {
      position: relative;
      width: 20.4px;
      height: 3.4px;
      &::after, &::before {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: $cl-counter-color-plus;
      }
      &:before {
        transform: rotate(90deg);
      }
    }
  }
  &--minus {
    background-color: $cl-counter-background-minus;
    color: $cl-counter-color-minus;
    border: 2px solid $cl-counter-color-plus;
    span {
      position: relative;
      width: 20.4px;
      height: 3.4px;
      &::after {
        content: '';
        color: inherit;
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: $cl-counter-color-minus;
      }
    }
  }
}

.cl-page-value {
  height: 100%;
  flex: 1.3;
  font-family: $cl-single-price-font-family;
  font-weight: $cl-single-price-font-weight;
  cursor: text;
  font-size: $cl-counter-input-font-size;
  letter-spacing: 2.2px;
  text-align: center;
  color: $cl-counter-input-color;
  &__input {
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    width: 100%;
    background-color: transparent;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  &__alert {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $cl-single-price-font-weight;
    font-family: $cl-single-price-font-family;
    font-size: $cl-single-price-font-size;
    background: #ea6e0d;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 1px 0 rgba(0, 0, 0, .83), inset 0 1px 0 0 hsla(0, 0%, 100%, .44);
    &--cross {
      font-size: $cl-single-price-font-size*1.5;
      padding-left: 15px;
    }
  }
}

.cl-single-price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 15px 0;
  @include respond-to($xx-bt) {
    flex-direction: column;

  }
  &__title {
    font-family: $cl-single-price-font-family;
    font-weight: $cl-single-price-font-weight;
    font-size: $cl-single-price-font-size;
    color: $cl-single-price-color;
    text-align: right;
    @include respond-to($xx-bt){
      margin-bottom: 10px;

    }
  }
  &__value {
    font-family: $cl-single-price-font-family;
    font-weight: $cl-single-price-font-weight;
    color: $cl-single-price-color;
    border: solid 1px $cl-counter-background;
    font-size: 18px;
    height: 40px;
    border-radius: 100px;
    padding: 7px 17px;
    margin-left: 10px;
    box-sizing: border-box;
    @include respond-to($xx-bt) {
      font-size: 14px;

    }
  }
}

//@each $theme in $themes {
//  .#{map_get($theme, name)} .cl-counter-wrap {
//    background-color: map_get(map_get($theme, counter), background);
//
//  }
//  .#{map_get($theme, name)} .cl-counter {
//    &--plus {
//      background-color: map_get(map_get($theme, counter), background-plus);
//    }
//    &--minus {
//      background-color: map_get(map_get($theme, counter), background-minus);
//    }
//  }
//  .#{map_get($theme, name)} .cl-single-price__title {
//    color: map_get(map_get($theme, single-price), color);
//    font-family: map_get(map_get($theme, single-price), font-family);
//    font-size: map_get(map_get($theme, single-price), font-size);
//
//  }
//  .#{map_get($theme, name)} .cl-single-price__value {
//    color: map_get(map_get($theme, single-price), color);
//    border-color: map_get(map_get($theme, single-price), color);
//    font-family: map_get(map_get($theme, single-price), font-family);
//
//  }
//}