%cl-select-title-default {
  color: $cl-select-title-color;
  font-size: $cl-select-title-font-size;
  font-family: $cl-select-title-font-family;
  @include respond-to($xs-bt) {
    font-size: $cl-select-title-font-size*0.8;
    text-align: center;
  }
}

%cl-select-item-default {
  border: $cl-select-item-border 1px solid;
  color: $cl-select-item-color;
  font-size: $cl-select-item-font-size;
  font-family: $cl-select-item-font-family;
}

%cl-select-single-default {
  font-size: $cl-select-item-font-size;
  font-family: $cl-select-item-font-family;
  border-radius: $cl-select-border-radius;
  color: $cl-select-single-active-color;
  border: 1px solid $cl-select-single-active-background-color;
  background-color: $cl-select-single-active-background-color;
}

.cl-select-wrap {
  position: relative;
  margin: 1em auto;

}

.cl-select-title {
  @extend %cl-select-title-default;
  margin-bottom: 5px;
}

.cl-select-list {
  position: relative;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  z-index: 50;
  justify-content: center;
}

.cl-select-item {
  @extend %center-flex;
  @extend %cl-select-item-default;
  height: 60px;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  &:first-child {
    border-top-left-radius: $cl-select-border-radius;
    border-bottom-left-radius: $cl-select-border-radius;
  }
  &:last-child {
    border-top-right-radius: $cl-select-border-radius;
    border-bottom-right-radius: $cl-select-border-radius;
  }
  &.active {
    background-color: $cl-select-item-active-background-color;
    color: $cl-select-item-active-color;
  }
  @include respond-to($xx-bt) {
    width: 96px;
    flex: none;
    //.service & {
    //  &:first-child {
    //    width: 92px;
    //    border-top-left-radius: 0;
    //    border-bottom-left-radius: 0;
    //  }
    //  &:last-child {
    //    border-top-right-radius: 0;
    //    border-bottom-right-radius: 0;
    //  }
    //
    //}
    //.level & {
    //  &:first-child {
    //    border-top-left-radius: 0;
    //    border-bottom-left-radius: 0;
    //  }
    //  &:last-child {
    //    border-top-right-radius: 0;
    //    border-bottom-right-radius: 0;
    //
    //  }
    //}

    .service & {
      &:nth-child(1) {
        width: 98px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
      }
      &:nth-child(2) {
        width: 98px;
        border-top-right-radius: 20px;
      }
      &:nth-child(3) {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      &:nth-child(5) {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
    .level5 &, .level4 & {
      &:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

      }
      &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;

      }
      &:nth-child(3) {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      &:nth-child(4) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 20px;
      }

    }
    .level2 & {
      &:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      &:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

      }
    }
  }
}

.cl-select-single {
  @extend %cl-select-single-default;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 27px;
  height: 60px;
  &__close {
    font-size: 18px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    border: solid 1px $cl-select-single-active-color;
    margin: 1px;
    color: inherit;
  }
  &.open {
    display: flex;
  }
}

@each $theme in $themes {
  .#{map_get($theme, name)} .cl-select-title {
    color: map_get(map_get($theme, select-title), title-color);
    font-size: map_get(map_get($theme, select-title), title-font-size);
    font-family: map_get(map_get($theme, select-title), title-font-family);
  }
  .#{map_get($theme, name)} .cl-select-item {
    border-color: map_get(map_get($theme, select-item), background-color);
    color: map_get(map_get($theme, select-item), color);
    font-size: map_get(map_get($theme, select-item), font-size);
    font-family: map_get(map_get($theme, select-item), font-family);
    &:first-child {
      border-top-left-radius: map_get(map_get($theme, select-item), border-radius);
      border-bottom-left-radius: map_get(map_get($theme, select-item), border-radius);
    }
    &:last-child {
      border-top-right-radius: map_get(map_get($theme, select-item), border-radius);
      border-bottom-right-radius: map_get(map_get($theme, select-item), border-radius);
    }
    &.active {
      background-color: map_get(map_get($theme, select-item), background-color);
      color: map_get(map_get($theme, select-item), color-active);
    }
  }
  .#{map_get($theme, name)} .cl-select-single {
    font-family: map_get(map_get($theme, select-item), font-family);
    font-size: map_get(map_get($theme, select-item), font-size);
    color: map_get(map_get($theme, select-item), color);
    border-radius: map_get(map_get($theme, select-item), border-radius);
    border-color: map_get(map_get($theme, select-item), background-color);
    background-color: map_get(map_get($theme, select-single), background-color);
    &__close {
      border-color: map_get(map_get($theme, select-single), border-color);
    }
  }
}