.cl-prices-group {
  position: relative;
  margin-bottom: 1em;
}

.cl-prices-wrap {
  flex: 0 0 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

%cl-price-title-default {
  font-family: $cl-price-title-font-family;
  font-weight: $cl-price-title-font-weight;
  font-size: $cl-price-title-font-size;
  color: $cl-price-title-color;
  @include respond-to($xx-bt) {
    font-size: $cl-price-title-font-size*0.8;

  }
}

.cl-price-title {
  @extend %cl-price-title-default;
  letter-spacing: 1.3px;
  text-align: center;
}

.cl-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  font-family: $cl-price-font-family;
  font-weight: $cl-price-font-weight;
  color: $cl-price-color;
  &--currency {
    color: $cl-price-color;
  }
  &--full {
    position: relative;
    font-size: $cl-price-full-font-size;
    @include respond-to($xx-bt) {
      font-size: $cl-price-full-font-size*0.8;

    }
    margin: 0 10px;
    padding: 0 5px;
  }
  &--line-throw {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $cl-price-line-throw-color;
  }
  &--dsc {
    font-size: $cl-price-dsc-font-size;
    @include respond-to($xx-bt) {
      font-size: $cl-price-dsc-font-size*0.8;
    }
  }
}

