
.calc-lg-container {
  box-sizing: border-box;
  width: $cl-container-width;
  background: $cl-container-background;
  padding: $cl-container-padding;
  font-family: $cl-container-font-family;
  font-weight: $cl-container-font-weight;
  @include respond-to($xx-bt) {
    max-width: 320px;
  }
}
