.tp-header {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  &__deadline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 24px;
    flex-direction: column;
    width: 135px;
    background-size: initial;
    font-family: OpenSans-SemiBold, serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    background: #21414a;
    &__deadline__top {
      height: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__deadline__bottom {
      height: 50%;
      width: 100%;
      @extend %center-flex;
    }
  }
  &__body {
    border-top-right-radius: 24px;
    background-color: #21414a;
    width: calc(100% - 135px);
  }
  &__level {
    height: 60px;
    display: flex;
    justify-content: center;
    border-left: 1px solid #ffffff;
    flex: 1;
    &__text{
      font-family: OpenSans-SemiBold, serif;
      font-size: 18px;
      letter-spacing: 0.7px;
      text-align: left;
      color: #ffffff;
      text-transform: uppercase;
      padding: 0 40px;
      @extend %center-flex;
    }
  }
  &__dsc {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px;
    font-family: OpenSans-Semibold, serif;
    text-align: left;
    color: #fbe23f;
    &--title {
      text-transform: uppercase;
      letter-spacing: 0.7px;
      font-size: 18px;
    }
    &--value {
      color: #21414a;
      letter-spacing: 0.7px;
      background-color: #fbe23f;
      margin: 0 9px;
      padding: 5px;
    }
    &--text {
      font-family: OpenSans-Regular, serif;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }

}

.tp-level {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &__column {
    flex: 1;
  }

  &__title {
    @extend %center-flex;
    flex: 1;
    height: 60px;
    background-color: #34616e;
    font-family: OpenSans-Regular, serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    border: 1px solid #fff;
    padding: 5px 25px;
    border-bottom: none;
    &.active {
      background-color: #21414a;
    }
  }

}

.tp-deadline {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 135px;
  &__item {
    @extend %center-flex;
    width: 100%;
    height: 40px;
    background-color: #34616e;
    font-family: OpenSans-Regular, serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    border: 1px solid #ffffff;
    &:last-child {
      border-bottom-left-radius: 24px;
    }
    &.active {
      background-color: #21414a;
    }
  }
}

