.tp-container {

  display: flex;
}

.tp-wrap {
  width: 790px;
  max-width: 100%;
}

.tp-title {
  font-family: OpenSans-SemiBold, serif;
  font-size: 24px;
  font-weight: 600;
  color: #1d1e1f;
  margin: 20px 0;
  @include respond-to($xx-bt) {
    font-size: 18px;
    text-align: center;
  }
}

.tp-body {
  flex: 1;
  display: flex;
  flex-wrap: wrap;

}