//default styles for buttons
$tp-btn-color: #ffffff !default;
$tp-btn-font-family: 'OpenSans-Bold' !default;
$tp-btn-font-size: 13px !default;
$tp-btn-border-radius: 24px !default;
$tp-btn-height: 34px !default;
//quote btn
$tp-quote-background-color: #34616e !default;
$tp-quote-border-quote: 1px solid #fff !default;

//order btn
$tp-order-background-color: #ea6e0d !default;
$tp-order-border-quote: 0 !default;

%tp-btn-default {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: $tp-btn-font-size;
  color: $tp-btn-color;
  border-radius: $tp-btn-border-radius;
  height: $tp-btn-height;
}

.tp-modal-wrap {
  display: none;
  width: 260px;
  height: auto;
  position: absolute;
  right: 0;
  margin: 0 auto;
  top: -135px;
  left: -65px;
  transform: translateY(-50%);
  z-index: 100;
  @include respond-to($xs-bt) {
    left: auto;
    right: auto;
  }
  .tp-table__column:first-child & {
    @include respond-to($xs-bt) {
      left: -30px;
      &::after, &::before {
        right: auto;
        left: 40px;
      }
    }
  }
  .tp-table__column:nth-child(4) & {
    @include respond-to($xx-bt) {
      left: auto;
      right: -30px;
      &::after, &::before {
        left: auto;
        right: 40px;
      }
    }
  }
  .tp-table__column:last-child & {
    @include respond-to($sm-bt) {
      left: auto;
      right: 0;
      &::after, &::before {
        left: auto;
        right: 40px;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -18px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #21414a;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include respond-to($xx-bt) {
      display: none;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -20px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 22px solid #34616e;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include respond-to($xx-bt) {
      display: none;
    }
  }
  .selected & {
    display: block;
  }

}

.tp-modal {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: #21414a;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.42);
  border: solid 2px #34616e;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 25px 32px;
  &__cross {
    content: '';
    position: absolute;
    right: -8px;
    top: -8px;
    width: 34px;
    height: 34px;
    border-radius: 100px;
    background-color: #34616e;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.42);
    color: #ffffff;
    @extend %center-flex;
  }
  &__date {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    height: 28px;
    justify-content: space-between;
    align-items: center;

    &--title {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      flex: 1;
      font-size: 14px;
      text-align: left;
      color: #fbe23f;

    }
    &--value {
      flex: 1;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 17px;
      text-align: right;
      color: #ffffff;
    }
  }
  &__counter {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    height: 34px;
    width: 190px;
    border-radius: 100px;
    background-color: #34616e;
    border: solid 1px #ffffff;
  }
  &__counter-btn {
    @extend %center-flex;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    margin-top: -1px;
    border-radius: 50%;
    &--plus {
      color: #ffffff;
      background-color: #34616e;
      border: solid 1px #ffffff;
      margin-right: -1px;
    }
    &--minus {
      background-color: #21414a;
      color: #ffffff;
      border: 1px solid #ffffff;
      margin-left: -1px;
    }
  }
  &__page-value {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    cursor: text;

  }
  &__page-input {
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    width: 40px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: inherit;
    font-size: 20px;
  }
  &__price {
    flex: 0 0 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  &__price-title {
    flex: 0 0 100%;
    text-align: center;
    color: #fbe23f;
    font-size: 14px;
  }
  &__price-container {
    @extend %center-flex;
    flex: 0 0 50%;
  }
  &__price-full {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding: 0 2px;
  }
  &__price-line-throw {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background: #e83700;

  }
  &__price-dsc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
  }
  &__btn-group {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    @extend %center-flex;
    @extend %tp-btn-default;
    min-width: 110px;
    flex: 0 0 calc(50% - 4px);
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0, 0, 0, .24);
    cursor: pointer;

    &--qoute {
      background-color: $tp-quote-background-color;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
      border: $tp-quote-border-quote;
      margin-right: 4px;
      &:hover {
        background-color: darken($tp-quote-background-color, 10%);
      }
    }
    &--order {
      background-color: $tp-order-background-color;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);
      border: $tp-order-border-quote;
      margin-left: 4px;
      &:hover {
        background-color: darken($tp-order-background-color, 10%);
      }
    }
  }

}






