.tp-table {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  border-left: 1px solid #fff;
  &__column {
    flex: 1;
    &:last-child .tp-table__price:last-child {
      border-bottom-right-radius: 24px;
    }
  }
  &__price {
    position: relative;
    @extend %center-flex;
    font-family: OpenSans-Regular, serif;
    text-align: left;
    height: 40px;
    border: 1px solid #fff;
    border-left: 0;
    &.active, &:hover {
      border-radius: 3px;
      background-color: #21414a !important;
    }
    &:nth-child(even) {
      background-color: #f7f7f7;
    }
    &--full {
      font-size: 14px;
      text-align: left;
      color: #797d81;
      text-decoration: line-through;
      @include respond-to($xs-bt) {
        font-size: 12px;
      }
      @include respond-to($xx-bt) {
        font-size: 10px;
      }
    }
    &--dsc {
      font-weight: bold;
      text-align: left;
      font-size: 18px;
      color: #21414a;
      margin-left: 10px;
      @include respond-to($xs-bt) {
        font-size: 16px;
        margin-left: 5px;
      }
      @include respond-to($xx-bt) {
        margin-left: 0;
        font-size: 13px;
      }
      .active & {
        color: #ffffff;
      }
      .tp-table__price:hover & {
        color: #ffffff;

      }
    }
    @include respond-to($xx-bt) {
      flex-direction: column;
    }
  }
}
