
.tp-header {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex: 0 0 100%;
  border-top-right-radius: 24px;
  background-color: $tp-header-background-color;
  border-left: 1px solid #ffffff;
  height: 120px;
  &__top {
    height: 50%;
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    border-bottom: 1px solid #fff;
  }
  &__title {
    font-family: $tp-header-title-font-family;
    font-size: $tp-header-title-font-size;
    color: $tp-header-title-color;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: left;
    text-transform: uppercase;
    padding: 0 40px;
    @extend %center-flex;
    @include respond-to($xs-bt) {
      display: none !important;
    }
  }
  &__dsc {
    font-family: $tp-header-title-font-family;
    font-size: $tp-header-dsc-font-size;
    color: $tp-header-dsc-color;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    //padding: 12px;
    font-weight: 600;
    text-align: left;
    @include respond-to($xs-bt) {
      font-size: $tp-header-dsc-font-size*0.8;
    }
    @include respond-to($xx-bt) {
      padding: 5px;
    }
    &--title {
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }
    &--value {
      color: #21414a;
      letter-spacing: 0.7px;
      background-color: #fbe23f;
      margin: 0 9px;
      padding: 1px 5px;
      @include respond-to($xx-bt) {
        padding: 3px;

      }

    }
    &--text {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      letter-spacing: 0.5px;
      font-size: $tp-header-dsc-font-size*0.8;
    }

  }

  &__level {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;

  }
  &__level-item {
    @extend %center-flex;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    background-color: $tp-level-background-color;
    font-size: $tp-level-font-size;
    color: $tp-level-color;
    font-family: $tp-level-font-family;
    font-weight: 400;
    text-align: center;
    //padding: 5px 25px;
    border-bottom: none;
    @include respond-to($xs-bt) {
      //padding: 5px 7px;
    }
    @include respond-to($xx-bt) {
      //padding: 3px;
    }
    @include respond-to($xx-bt) {
      font-size: 12px;
      word-break: break-all
    }
    @include respond-to($phonePortrait) {
      font-size: 10px;
    }
    &.active {
      background-color: #21414a;
    }
    &:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }

}
