

.tp-container {
  display: flex;
  width: 100%;
}

.tp-wrap {
  position: relative;
  width: $tp-container-width;
  max-width: 100%;
  font-family:  $tp-container-font-family;
  font-weight: 400;
  margin: 0 auto;
}

.tp-title {
  font-family: $tp-container-font-family;
  font-size: $tp-title-font-size;
  color:$tp-title-color;
  font-weight: 600;
  margin: 20px 0;
  @include respond-to($xx-bt) {
    font-size: 18px;
    text-align: center;
  }
}

.tp-body {
  flex: 1;
  display: flex;
  flex-wrap: wrap;

}