@import 'table-prices/main';
@import 'calc-small/main';
@import 'calc-large/main';
//@import '~bootstrap/scss/bootstrap.scss';

.calc-lg{
  display: flex;
  justify-content: center;
  padding: 50px;
  background: #21414a;
  border: solid 2px #34616e;
}
