@import 'table-prices/main';
@import 'calc-small/main';
@import 'calc-large/main';
@import 'calc-fast/main';
//@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.table-price {
  position: relative;
  padding: 15px;
}

.calc-sm {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.calc-lg {
  display: flex;
  justify-content: center;
  background: #21414a;
  //border: solid 2px #34616e;
  box-sizing: border-box;
}

.calc-fast-container{
  width: 350px;
  max-width: 100%;
  margin: 15px;
}