/** to customize the look and feel the calc override this variables  in your own variable scss file
* !!IMPORTANT Be sure that you include your own variables earlier than default ones**/

//default styles for calc container
$cs-width: 260px !default;
$cs-height: auto !default;
$cs-border-radius: 24px !default;
$cs-border: solid 2px #34616e !default;
$cs-background-color: #21414a !default;
$cs-background-url: url("https://s3.amazonaws.com/genericapps/resources/calculators/fonts/payments.svg") !default;
$cs-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.42) !default;
$cs-box-padding: 28px 30px 47px !default;

//default styles for calc title
$cs-title-font-family: 'Open Sans', sans-serif !default;
$cs-title-font-weight: 600 !default;
$cs-title-font-size: 16px !default;
$cs-title-color: #fce23f !default;

//default styles for select
$cs-select-height: 34px !default;
$cs-select-border-radius: 100px !default;
$cs-select-background-color: #34616e !default;
$cs-select-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.42) !default;
$cs-select-border: solid 1px #fff !default;
$cs-select-margin: 0 0 12px !default;
$cs-select-font-family: 'Open Sans', sans-serif !default;
$cs-select-font-weight: 400 !default;
$cs-select-font-size: 14px !default;
$cs-select-color: #ffffff !default;

//default styles for dropdown
$cs-dropdown-font-family: 'Open Sans', sans-serif !default;
$cs-dropdown-font-weight: 400 !default;
$cs-dropdown-font-size: 13px !default;
$cs-dropdown-background-color: #34616e !default;
$cs-dropdown-background: #fff!default;
$cs-dropdown-border-radius: 24px!default;

//default styles for search
$cs-search-border-color: #273952 !default;
$cs-search-background: transparent !default;
$cs-search-font-family:'Open Sans', sans-serif !default;
$cs-search-font-weight:400 !default;
$cs-search-font-size: 14px !default;
$cs-search-color: #273952 !default;

//default styles for counter

$cs-counter-width: 34px !default;
$cs-counter-height: 34px !default;
$cs-counter-color: #ffffff !default;
$cs-counter-border-color: #ffffff !default;
$cs-counter-plus-background-color: #34616e !default;
$cs-counter-minus-background-color: #21414a !default;


$cs-counter-margin:  -1px!default;
$cs-counter-plus-margin: -2px!default;
$cs-counter-minus-margin: -1px!default;

$cs-page-value-font-family: 'Open Sans', sans-serif !default;
$cs-page-value-font-weight: 400 !default;
$cs-page-value-font-size: 14px !default;

//default styles for prices

$cs-price-font-family: 'Open Sans', sans-serif !default;
$cs-price-font-weight: 400, serif !default;
$cs-price-color: #fff !default;
$cs-price-full-font-size: 20px !default;
$cs-price-dsc-font-size: 24px !default;
$cs-price-line-throw-color: #ea6e0d !default;

$cs-price-title-font-family: 'Open Sans', sans-serif !default;
$cs-price-title-font-weight: 600 !default;
$cs-price-title-font-size: 14px !default;
$cs-price-title-color: #fff !default;

//default styles for buttons
$cs-btn-color: #ffffff !default;
$cs-btn-font-family: 'Open Sans', sans-serif !default;
$cs-btn-font-weight: 700 !default;
$cs-btn-font-size: 13px !default;
$cs-btn-border-radius: 24px !default;
$cs-btn-height: 34px !default;
//quote btn
$cs-quote-background-color: #34616e !default;
$cs-quote-border-quote: 1px solid #fff !default;

//order btn
$cs-order-background-color: #ea6e0d !default;
$cs-order-border-quote: 0 !default;

/**  end of the default variables **/

//theme lists
$themes: $theme-dark-blue, $theme-green;

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";
// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

// Colors
$primary-color-dark-blue: #273952;
$primary-color-yellow: #febc09;



//bootstrap breakpoint

$xx-bt: '(max-width: 576px)';
$xs-bt: '(max-width: 767px)';
$sm-bt: '(max-width: 991px)';
$md-bt: '(max-width: 1199px)';
$lg-bt: '(max-width: 1439px)';

//breakpoints
$phone: '(max-width: 667px)';
$phonePortrait: '(max-width: 414px)';
$phoneLandscape: '(min-width: 415px) and (max-width: 667px)';
$tablet: '(min-width: 668px) and (max-width: 1024px)';
$tabletPortrait: '(min-width: 668px) and (max-width: 768px)';
$tabletLandscape: '(min-width: 769px) and (max-width: 1024px)';
$desktop: '(min-width: 1025px) and (max-width: 1366px)';
$desktopWide: '(min-width: 1367px) and (max-width: 1680px)';
$desktopHD: '(min-width: 1681px) and (max-width: 1920px)';
$desktopMega: '(min-width: 1921px)';

$landscape: '(orientation: landscape)';
//Layouts
//$page-names: 'home' 'custom-essays' 'research-papers' 'term-papers' 'custom-book-review';

$nav-prefix: ch-nav;
$navbar-width: 1440px;
$navbar-height: 70px;
$navbar-color-bg: #ffffff;

$arc-width: percentage(1743px/1440px);
$section-yellow-home-min-height: 776px;
$section-yellow-min-height: 626px;
$section-yellow-bottom-min-height: 796px;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
)
